# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build outputs
.next/
out/
build/

# Environment variables
.env*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
.vscode/
../package-lock.json
../../package-lock.json
